*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

//footer
footer{
    margin-top: 100px;
}
// ESTILOS DEL MODAL

#open-modal {
    background-color: #007bff;
  }

  button:hover {
    opacity: 1;
  }

  #fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }

  #modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
  }

  #fade,
  #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .modal-body p {
    margin-bottom: 1rem;
  }

  #modal.hide,
  #fade.hide {
    opacity: 0;
    pointer-events: none;
  }

  #modal.hide {
    top: 0;
  }
// FIM ESTILOS MODAL


//MENU
.menu .nav-item.active{
    color: red;
}
// .cardF{
//   display: flex;
//   justify-content: center;
//   flex-direction: row;
//   margin-bottom: 50px;
//   background-color: #f9f9f9;
// }
// header form
.title{
    margin-top: 100px;
  background-color: #EBCB06;
  padding: 5px 40px ;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title h2{
  margin-top: 25px;
  font-size: 20px;
  width: 330px;
  border-top: 1px solid black;
}
.title img{
  width: 70px;
}

.title .search{
  margin-top: 25px;
}


// FORMULARIO
form{
  margin: 20px 0;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: weight;
  font-style: normal;
  padding: 20px;

}
.titleForm {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}
select{
  font-weight: lighter;
  font-family: inherit;
  font-size: 12px;
}
input[type="text"], input[type="date"], select, textarea{
  box-sizing: border-box;
  outline: none;
  color: #333333;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 12px;
  font-weight: lighter;
  height: 45px;
  background-color: #f1f1f1;
}
textarea{
  height: 200px;
}

button[type="submit"]{
  margin-right: 10px;

  cursor: pointer;
  transition: all .3s;

}

button:hover{
  background: #c8c8c8;
  color: black;
}

img.icone{
  width: 30px;
  color: white;
}


// HEADER - CABECALHO
.logoDiv img{
  width: 50px;
  margin-left: 20px;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #292727, #1c1305);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 120px;
  padding: 3e
  m;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.main{
    display: flex;
    justify-content: center;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


i{
  font-size: 15px;
  margin: 0 5px;
}
i.del{
  color: red
}
i.confirm{
  color: #0a791b
}
i.print{
  color: #18053b;
}
i:hover{
color:#989f64}
th{
  font-size: 12px;
  font-weight: bold;
  padding-left: 30px;

}
td{
  font-size: 10px;
  font-weight: lighter;
  padding-left: 30px;
}

table{
  background-color: #f1f1f1;

}
button{
  border: none;
}
.add{
  padding: 5px 15px;
  font-size: 13px;
  font-weight: lighter;
}
.tableDiv{
  overflow-x: auto;
}





// IMPRESSAO DE FORMLARIO DE COMPRA
@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #414142;
  font: 12pt "Montserrat", sans-serif;
  -webkit-print-color-adjust: exact !important;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page-container {
  width: 210mm;
  min-height: 297mm;
  padding: 0mm;
  margin: 10mm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.page-inner {
  padding: 0;
  height: 297mm;
  padding: 10mm;
}

.page-inner table,
.page-inner td,
.page-inner th {
  padding: 2mm;
  border-collapse: collapse;
  border: 1px solid #414142;
}

p{
  font-size: 8px;
  font-weight: lighter;
}
h2{
  font-size: 10px;
  font-weight: normal;
}
/* Classes AUXILIARES */
.w5{
  float: left;
  width: 5%;
  border: 1px solid black;
  padding: 10px 0;
}
.w10{
  float: left;
  width: 10%;
  border: 1px solid black;
  padding: 20px 0;
}
.w15{
  float: left;
  width: 15%;
  border: 1px solid black;
  padding: 20px 0;
}
.w30{
  float: left;
  width: 30%;
  border: 1px solid black;
  padding: 20px 0;
}
.w50{
  float: left;
  width: 50%;
  border: 1px solid black;
  padding: 20px 0;
}
.w40{
  float: left;
  width: 40%;
  border: 1px solid black;
  padding: 20px 0;
}
.w100 h2{
  margin-left: 20px;

  font-size: 08px;
  font-weight: lighter;
}
.line{
  margin-top: 60px;
  margin-right: 110px;
  border-top: 1px solid black;
  width: 100%;
  font-size: 12px;
}
.w20{
  width: 20%;
  float: left;
  border: 1px solid black;
  background-color: #ffffff;
  padding: 20px 0;
}
.w100 img{
  width: 70px;
  padding-top: 10px;
  padding-left: 10px;
}
.w100{
  width: 100%;
  float: left;
  border: 1px solid black;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.titles h1{
  padding-top: 10px;
  padding-right: 70px;
  font-size: 15px;
}
.w60{
  float: left;
  width: 60%;
  border: 1px solid black;

}

.w33{
  float: left;
  width: 33.33333333%;
  border: 1px solid black;
  padding: 10px 0;

}
// .body h2,p{
//   margin-left: 10px;
// }
.headerNote{
  height: 130px;
}
.dadosEmpresa{
  height: 125px;
}
.sub p,h2{
  display: inline-block;

}
.sub h2{
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
}
.sub p{
  font-size: 10px;
  font-weight: lighter;
  padding-left: 35px;
}

.empresa p{
  font-size: 12px;
  margin: 10px;
  font-weight: normal;
}
.sub{
  display: inline;
}
@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .page-container {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.controls-container {
  color: #414142;
  background: #f1f1f2;
  padding: 5px;
  border: 1px solid #d1d3d4;
  border-radius: 2px;
  position: fixed;
  top: 50px;
  left: 10px;
  font-size: 12px;
}

.controls-container button {
  background-color: #333333;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.controls-container button:hover {
  background-color: #b4c45b;
  color: black;
}

@media print {
  .controls-container {
    display: none !important;
  }
}
